* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#igPhoto {
    display: flex;
    height: 85vh;
    width: 85%;
    padding-top: 35px;
    float: right;
}

form {
    border: 1px gray;
}

#appleStoreIcon,
#playStoreIcon {
    height: 30px;
    width: 100px;
}

#fbLogo {
    height: 20px;
    width: 20x;
}